{:paths ["resources" "src"]

 :deps {}

 :aliases
 {:dev {:extra-deps {org.clojure/clojure
                     {:mvn/version "1.10.1"}

                     integrant
                     {:git/url "https://github.com/alexanderkiel/integrant.git"
                      :sha     "c673b85130e553feec6d4c5d2d1ec773a49c929c"}

                     com.taoensso/timbre
                     {:mvn/version "4.10.0"}}}

  :test   {:extra-paths ["test"]
           :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}}}

  :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
           :main-opts  ["-m" "cognitect.test-runner"
                        "-d" "test"]}}}
